<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show User</title>
</head>
<body>
<header>
    <%= user.username %><br>
</header>
<nav>
<a href="/">Home Page</a>
<a href="/users">List of Users</a>
</nav>

   <% for(let i = 0; i < user.photos.length; i++) { %>
        <%= photo.name %>
        <%= photo.caption %>
        <%= photo.location %>
   <% } %>
   
  <form action="/users/<%=user.id?_method=DELETE" method="POST">
<input type="submit" value="edit user"><input type="delete" value="delete user">
    </form>

</body>
</html>