<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Show User</title>
</head>
<body>
<header>
    <%= user[i].username %><br>
</header>
    <nav>
        <a href="/">Home Page</a>
        <a href="/users">List of Users</a>
        <a href="/users/<$= user._id %>/edit">Update User</a>
    </nav>

   <% for(let i = 0; i < photos.length; i++) { %>
        <img src="<%= photos.url %>"><%= photos.name %></a>
        <%= photos.caption %>
        <%= photos.location %>
   <% } %>

  <form action="/users/<%=user.id?_method=DELETE%>" method="POST">
    <input type="delete" value="delete user">
    </form>

</body>
</html>